<div class="max-w-md mx-auto text-center">
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4">
      <h3 class="font-bold"><i class="fas fa-exclamation-triangle"></i> Errore</h3>
      <p><%= message %></p>
    </div>
    <a href="javascript:history.back()" class="btn-outline inline-block">
      <i class="fas fa-arrow-left"></i> Torna indietro
    </a>
  </div>